#PhotoContainer{
  display: block;
  background-color: gainsboro;
  color: black;
  margin: 50px 0px 50px 0px;
  padding-bottom: 10px;
}

#pic {
  display: flex;
  margin: auto;
  height: 600px;
  width: 1200px;
  animation: fadein 3s ease-in-out;
  animation-iteration-count: infinite;
}



@keyframes fadein {
  30%,70% {
    opacity: 1;
  }

  0%,100% {
    opacity: 0;
  }
}
