<div id='CalcContainer'>

    <h3> Test calculatrice</h3>
    <span> Goals is to develop a caculator that take the input and compute in a python server</span>

    <div class="grid-container">
        <div class="grid-item" id='output'> OUTPUT</div>
        <app-button-c class="grid-item" text='%' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='*' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='/'clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" id='minus' text='-' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='7' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='8' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='9' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" id='plus' text='+' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='4' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='5' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='6' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='1' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='2' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='3' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text='0' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" text=',' clickFunction='click()'></app-button-c>
        <app-button-c class="grid-item" id= 'Enter' text=Enter clickFunction='click()'></app-button-c>
    </div> 
</div>